body {
  margin: 8px 0;
}

#Wrapper {
  padding: 0 10px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

// Carousels
[data-ur-set="carousel"] {
  overflow: hidden;
  position: relative;
  border-top: 1px solid #ccc;

  &#SimilarProductsByCustomerViews {
    border-top: 0;
  }
}
[data-ur-carousel-component="scroll_container"] {
  list-style-type: none;
  @extend .group;
}
[data-ur-carousel-component="item"] {
  float: left;
  padding: 5px 5px 40px 5px;
  position: relative;
  width: 120px;
  height: 240px;
}

.button.add-to-cart {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  @include sprites-AddCartButton();
  color: transparent;
}
.button.choose-options {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

// Accordions
[data-ur-set="toggler"] {
  h2 {
    position: relative;
    padding: 10px;
    margin-bottom: 0;
    border-color: $brandBorderColor;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 103%;
    font-weight: 100;
    background-color: $brandColor;
    color: white;
    cursor: pointer;

      &[data-ur-state="enabled"] {
        .mw_indicator {
          @include sprites-minus();
        }
      }

      .mw_indicator {
        position: absolute;
        right: 10px;
        top: 10px;
        @include sprites-plus();
      }
  }
  .BlockContent {
    border-color: $brandBorderColor;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        border-color: $brandBorderColor;
        border-style: solid;
        border-top-width: 1px;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 0;
        background-color: #f4f1e2;

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          color: black;
          font-weight: bold;
          position: relative;

          .mw_arrow {
            position: absolute;
            right: 20px;
            top: 10px;
            @include sprites-menu_go();
          }
        }
      }
    }
  }
}

// Breadcrumbs
.Breadcrumb {
  ul {
    padding: 0;
    list-style-type: none;

    li {
      position: relative;
      display: inline-block;
      padding-left: 10px;
      list-style: none;
      margin-right: 10px;

      &:before {
        position: absolute;
        top: 5px;
        left: -5px;
        content: '';
        @include sprites-breadcrumb();  
      }
      &:first-of-type:before {
        background: none;
      }
    }
  }
}

.SortBox {
  margin-top: 1em;
  padding: 10px;
  border: 1px solid $brandBorderColor;
  border-radius: 5px;
  background-color: $brandColor;
  color: white;

    select {
      @include background(linear-gradient(top, #af755f 0, #8b452c 49%, #71270c 50%, #a96148));
      color: white;
      font-size: 100%;
    }
}