// fonts
$headerFontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headerFontWeight: 600;

$bodyFontFamily: "Times New Roman", Times, serif;
$bodyFontWeight: 300;
$bodyLineHeight: 1.2;

// colors
$headerColor: #b03b01;
$linkColor: #075899;

$brandColor: #7e270b;
$brandBorderColor: #501507;
$borderRadius: 4px;